<div class="page-header">
  <%= (teacher) ? "<h3>Айлык акылары</h3>" : "<h1>Чыгашалар</h1>" %>
</div>

<table id="expense-table" class="table table-bordered table-hover">
  <tr>
    <th>Сумма</th>
    <th>Дата</th>
     <% if (!teacher) { %>
        <th>Мугалим</th>
        <th>Чыгаша Булагы</th>
        <th>Башка Булак</th>
    <% } %>
    <% if (ur=='ac') { %>
        <th></th>
        <th></th>
    <% } %>
  </tr>
</table>

<br/>

<% if (ur=='ac') { %>
    <% if (teacher) { %>
        <a href="#/<%= teacher.get('id') %>/expenses/new" class="btn btn-small btn-primary">Жаңы айлык акысы</a>
    <% } else { %>
        <a href="#/new" class="btn btn-small btn-primary">Жаңы чыгаша</a>
    <% } %>
<% } %>