<table class="table table-bordered table-hover">
    <tr>
        <th></th>
        <th></th>
        <th>ДШ</th>
        <th>ШШ</th>
        <th>ШР</th>
        <th>БШ</th>
        <th>ЖМ</th>
        <th>СБ</th>
        <th>ЖК</th>
    </tr>
</table>