<div class="page-header">
  <h1>Даражалар</h1>
</div>


<table id="levels-table" class="table table-bordered table-hover">
  <tr>
    <th>Аталышы</th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new" class="btn btn-small btn-primary">Жаңы даража</a>