<div class="page-header">
  <h1>Level</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= name %></dd>
</dl>

<div class="form-actions">
    <a href="#/index" class="btn btn-small">All Level</a>
    <a href="#/<%= id %>/edit" class="btn btn-small">Edit</a>
    <a href="#/<%= id %>/destroy" class="btn btn-small btn-danger destroy">Destroy</a>
</div>
