<div class="page-header">
  <h1>Группалар</h1>
</div>

<table id="courses-table" class="table table-bordered table-hover">
    <tr>
        <th>Группа</th>
        <th>Предмет</th>
        <th>Кабинет</th>
        <th>Сабак убактысы</th>
        <th>Күндөрү</th>
    </tr>
</table>
