<div class="page-header">
  <h1>Кабинетти өзгөртүү</h1>
</div>


<form id="edit-room" name="room" class='form-horizontal'>
    <div class="control-group">
        <label for="title" class="control-label"> Аталышы:</label>
            <div class="controls">
                <input type="text" class="text_field" name="title" id="title" value="<%= title %>" >
            </div>
    </div>

    <div class="control-group">
        <label for="capacity" class="control-label"> Сыйымдуулугу:</label>
            <div class="controls">
                <input type="text" class="text_field" name="capacity" id="capacity" value="<%= capacity %>" >
            </div>
    </div>

    <div class="form-actions">
        <a href="#/index" class="btn btn-small">атка</a>
        <input type="submit" value="Кабинетти өзгөрт" class="btn btn-small btn-primary"/>
    </div>

</form>