<h1>Edit room</h1>

<form id="edit-room" name="room">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="capacity"> capacity:</label>
    <input type="text" name="capacity" id="capacity" value="<%= capacity %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Room" />
  </div>

</form>

<a href="#/index">Back</a>