<div class="page-header">
  <h3>Окуучулар <%= (group) ? "(" + group.get('name') + ")" : "" %></h3>
</div>


<table id="students-table" class="table table-bordered table-hover">
  <tr>
    <th>Аты</th>
    <th>Фамилиясы</th>
    <th>Туулган күнү</th>
    <th>Мектеби</th>
    <th>Телефон номери</th>
    <th>Адреси</th>
    <% if (group) { %>
        <%= (ur == 'ad') ? "<th></th><th></th><th></th>" : (ur == 'dr') ? "<th></th>" : "" %>
    <% } else { %>
        <th>Группасы</th>
    <% }%>
  </tr>
</table>

<br/>

<% if (group && ur == 'ad') { %>
    <a href="#/<%= group.get('id') %>/students/new" class="btn btn-small btn-primary">Жаңы окуучу кошуу</a>
<% } %>

