<div id="students"></div>

<script type="text/javascript">
    window.onload = function () {
        window.router = new Secom.Routers.StudentsRouter({
            students: <%= @students.to_json.html_safe -%>,
            groups: <%= @groups.to_json.html_safe -%>
        });
        Backbone.history.start();
    };
</script>