<div class="page-header">
  <h1>Lessons</h1>
</div>


<table id="lessons-table" class="table table-bordered table-hover">
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new" class="btn btn-small btn-primary">New Lesson</a>