<div class="page-header">
  <h1>Жаңы предмет</h1>
</div>


<form id="new-lesson" name="lesson" class='form-horizontal'>
    <div class="control-group">
        <label for="title" class="control-label"> Аталышы:</label>
            <div class="controls">
                <input type="text" class="text_field" name="title" id="title" value="<%= title %>" >
            </div>
    </div>

    <div class="form-actions">
        <a href="#/index" class="btn btn-small">артка</a>
        <input type="submit" value="Жаңы предмет кош" class="btn btn-small btn-primary"/>
    </div>

</form>
