<div class="page-header">
  <h1>Предмет</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Аталышы:</strong></dt>
  <dd><%= title %></dd>
</dl>

<div class="form-actions">
    <a href="#/index" class="btn btn-small">Предметтер</a>
    <a href="#/<%= id %>/edit" class="btn btn-small">өзгөртүү</a>
    <a href="#/<%= id %>/destroy" class="btn btn-small btn-danger destroy">өчүр</a>
</div>
