<div class="page-header">
  <h1>Мугалимди өзгөрт</h1>
</div>


<form id="edit-teacher" name="teacher" class='form-horizontal'>
    <div class="control-group">
        <label for="name" class="control-label"> Аты:</label>
            <div class="controls">
                <input type="text" class="text_field" name="name" id="name" value="<%= name %>" >
            </div>
    </div>

    <div class="control-group">
        <label for="surname" class="control-label"> Фамилиясы:</label>
            <div class="controls">
                <input type="text" class="text_field" name="surname" id="surname" value="<%= surname %>" >
            </div>
    </div>

    <div class="control-group">
        <label for="password" class="control-label"> Пароль:</label>
            <div class="controls">
                <input type="password" class="text_field" name="password" id="password" value="" >
            </div>
    </div>

    <div class="control-group">
        <label for="password_confirmation" class="control-label"> Парольду кайталаңыз:</label>
            <div class="controls">
                <input type="password" class="text_field" name="password_confirmation" id="password_confirmation" value="" >
            </div>
    </div>

    <div class="control-group">
        <label for="phone" class="control-label"> Телефон номери:</label>
            <div class="controls">
                <input type="text" class="text_field" name="phone" id="phone" value="<%= phone %>" >
            </div>
    </div>

    <div class="control-group">
        <label for="address" class="control-label"> Адреси:</label>
            <div class="controls">
                <input type="text" class="text_field" name="address" id="address" value="<%= address %>" >
            </div>
    </div>

    <div class="control-group">
        <label for="lesson_id" class="control-label"> Сабагы:</label>
            <div class="controls">
                <select name="lesson_id" id="lesson_id">
                    <option>Предметти танда</option>
                </select>
            </div>
    </div>

    <div class="form-actions">
        <a href="#/index" class="btn btn-small">Артка</a>
        <input type="submit" value="Өзгөрт" class="btn btn-small btn-primary"/>
    </div>

</form>
