<div class="page-header">
  <h1>Мугалимдер</h1>
</div>


<table id="teachers-table" class="table table-bordered table-hover">
  <tr>
    <th>Аты</th>
    <th>Фамилиясы</th>
    <th>Телефон номери</th>
    <th>Адреси</th>
    <th>Сабагы</th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new" class="btn btn-small btn-primary">Жаңы мугалим кош</a>