<div id="groups"></div>
<br/>
<div id="students"></div>

<script type="text/javascript">
    window.onload = function () {
        ur = "administrator"
        window.router = new Secom.Routers.GroupsRouter({
            groups: <%= @groups.to_json.html_safe -%>,
            levels: <%= @levels.to_json.html_safe -%>
        });
        Backbone.history.start();
    };
</script>