<div class="page-header">
  <h1>Edit Group</h1>
</div>


<form id="edit-group" name="group" class='form-horizontal'>
    <div class="control-group">
        <label for="name" class="control-label"> Name:</label>
            <div class="controls">
                <input type="text" class="text_field" name="name" id="name" value="<%= name %>" >
            </div>
    </div>

    <div class="control-group">
        <label for="level_id" class="control-label"> Level:</label>
            <div class="controls">
                <select name="level_id" id="level_id">
                    <option>Select Level</option>
                </select>
            </div>
    </div>

    <div class="form-actions">
        <a href="#/index" class="btn btn-small">Cancel</a>
        <input type="submit" value="Update Group" class="btn btn-small btn-primary"/>
    </div>
</form>
