<div class="page-header">
  <h1>Groups</h1>
</div>


<table id="groups-table" class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new" class="btn btn-small btn-primary">New Group</a>