<div class="page-header">
  <h1>Киреше Булагын Өзгөртүү</h1>
</div>


<form id="edit-source" name="source" class='form-horizontal'>
    <div class="control-group">
        <label for="name" class="control-label"> Аталышы:</label>
            <div class="controls">
                <input type="text" class="text_field" name="name" id="name" value="<%= name %>" >
            </div>
    </div>

    <div class="control-group">
        <label for="note" class="control-label"> Комментарий:</label>
            <div class="controls">
                <input type="text" class="text_field" name="note" id="note" value="<%= note %>" >
            </div>
    </div>

    <div class="form-actions">
        <a href="#/index" class="btn btn-small">артка</a>
        <input type="submit" value="Киреше булагын өзгөрт" class="btn btn-small btn-primary"/>
    </div>

</form>