<div class="page-header">
  <h1>Киреше Булактары</h1>
</div>


<table id="sources-table" class="table table-bordered table-hover">
  <tr>
    <th>Аталышы</th>
    <th>Комментарий</th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new" class="btn btn-small btn-primary">Жаңы киреше булагы</a>