<div class="page-header">
  <h1>Жаңы сабак убактысы</h1>
</div>


<form id="new-course_time" name="course_time" class='form-horizontal'>
    <div class="control-group">
        <label for="starts_at" class="control-label"> Башталышы:</label>
            <div class="controls">
                <input type="text" class="text_field" name="starts_at" id="starts_at" value="<%= starts_at %>" >
            </div>
    </div>

    <div class="control-group">
        <label for="ends_at" class="control-label"> Аягы:</label>
            <div class="controls">
                <input type="text" class="text_field" name="ends_at" id="ends_at" value="<%= ends_at %>" >
            </div>
    </div>

    <div class="form-actions">
        <a href="#/index" class="btn btn-small">артка</a>
        <input type="submit" value="Сабак убактысын кош" class="btn btn-small btn-primary"/>
    </div>

</form>
