<div class="page-header">
  <h1>Сабак убактысы</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Башталышы:</strong></dt>
  <dd><%= starts_at %></dd>
  <dt><strong>Аягы:</strong></dt>
  <dd><%= ends_at %></dd>
</dl>

<div class="form-actions">
    <a href="#/index" class="btn btn-small">Сабак убактылары</a>
    <a href="#/<%= id %>/edit" class="btn btn-small">өзгөртүү</a>
    <a href="#/<%= id %>/destroy" class="btn btn-small btn-danger destroy">өчүр</a>
</div>
