<div class="page-header">
  <h1>Course Time</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Starts at:</strong></dt>
  <dd><%= starts_at %></dd>
  <dt><strong>Ends at:</strong></dt>
  <dd><%= ends_at %></dd>
</dl>

<div class="form-actions">
    <a href="#/index" class="btn btn-small">All Course Times</a>
    <a href="#/<%= id %>/edit" class="btn btn-small">Edit</a>
    <a href="#/<%= id %>/destroy" class="btn btn-small btn-danger destroy">Destroy</a>
</div>
