<h1>Edit payment_date</h1>

<form id="edit-payment_date" name="payment_date">
  <div class="field">
    <label for="group_id"> group_id:</label>
    <input type="text" name="group_id" id="group_id" value="<%= group_id %>" >
  </div>

  <div class="field">
    <label for="payment_date"> payment_date:</label>
    <input type="text" name="payment_date" id="payment_date" value="<%= payment_date %>" >
  </div>

  <div class="field">
    <label for="amount"> amount:</label>
    <input type="text" name="amount" id="amount" value="<%= amount %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Payment date" />
  </div>

</form>

<a href="#/index">Back</a>