<td colspan=4>
    <form id="new-payment_date" name="payment_date" class='form-horizontal'>
        <div class="control-group">
            <label for="payment_date" class="control-label"> Дата:</label>
                <div class="controls">
                    <input type="text" name="payment_date" id="payment_date" value="<%= payment_date %>" >
                </div>
        </div>

        <div class="control-group">
            <label for="amount" class="control-label"> Сумма:</label>
                <div class="controls">
                    <input type="text" name="amount" id="amount" value="<%= amount %>" >
                </div>
        </div>

        <div class="form-actions">
            <input type="submit" value="Кош" class="btn btn-small btn-primary"/>
        </div>
    </form>
</td>
