<form id="edit-payment" name="payment" class='form-vertical'>
    <div class="control-group">
        <label for="amount" class="control-label"> Сумма:</label>
            <div class="controls">
                <input type="text" class="text_field" name="amount" id="amount" value="<%= amount %>" >
            </div>
    </div>

    <div class="control-group">
        <label for="payed_at" class="control-label"> Дата:</label>
            <div class="controls">
                <input type="text" class="text_field" name="payed_at" id="payed_at" value="<%= payed_at %>" >
            </div>
    </div>
    <div class="form-actions">
        <input type="submit" value="Кирешени сакта" class="btn btn-small btn-primary"/>
    </div>
</form>
