<div class="page-header">
  <%= (sources) ? "<h1>Кирешелер</h1>" : "<h3>Төлөмдөр</h3>" %>
</div>

<% if (!sources) { %>
    <div id="new_payment"></div>
<% } %>

<table id="payment-table" class="table table-bordered table-hover">
  <tr>
    <th>Сумма</th>
    <th>Дата</th>
     <% if (sources) { %>
        <th>Киреше Булагы</th>
        <th>Башка Булак</th>
    <% } %>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<% if (sources) { %>
    <a href="#/new" class="btn btn-small btn-primary">Жаңы киреше</a>
<% } %>
