<div id="rooms"></div>

<script type="text/javascript">
    window.onload = function () {
        // Secom is the app name
        window.router = new Secom.Routers.RoomsRouter({rooms: <%= @rooms.to_json.html_safe -%>});
        Backbone.history.start();
    };
</script>