<div id="courses"></div>
<br/>
<div id="sub_block"></div>

<script type="text/javascript">
    window.onload = function () {
        window.router = new Secom.Routers.CoursesRouter({
            courses: <%= @courses.to_json.html_safe -%>
        });
        Backbone.history.start();
    };
</script>