<div class="page-header">
  <h1>Жоктомо</h1>
  <span id="show_all" class="btn btn-small">Бардыгын көрсөт</span>
</div>

<table id="attendances-table" class="table table-bordered table-hover">
    <thead></thead>
    <tbody></tbody>
</table>

<br/>

<div class="row">
    <div class="span3">
        <h5>Датаны танда</h5>
        <input type="text" id="date_to_check" class="input-small"/>
    </div>
    <div id="new_row" class="span6"></div>
</div>

