<h1>Listing test_results</h1>

<table id="test_results-table">
  <tr>
    <th>Student</th>
    <th>Test</th>
    <th>Mark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Test result</a>