<h1>New test_result</h1>

<form id="new-test_result" name="test_result">
  <div class="field">
    <label for="student_id"> student_id:</label>
    <input type="text" name="student_id" id="student_id" value="<%= student_id %>" >
  </div>

  <div class="field">
    <label for="test_id"> test_id:</label>
    <input type="text" name="test_id" id="test_id" value="<%= test_id %>" >
  </div>

  <div class="field">
    <label for="mark"> mark:</label>
    <input type="text" name="mark" id="mark" value="<%= mark %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Test result" />
  </div>

</form>

<a href="#/index">Back</a>